<ul class="nav nav-underline bg-light nav-justified">
  <li class="nav-item">
    <a [ngClass]="state=='plan' ? 'nav-link active' : 'nav-link'" (click)="this.state='plan'">Execution plan</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="state=='preview' ? 'nav-link active' : 'nav-link'" (click)="this.state='preview'">Preview</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="state=='modif' ? 'nav-link active' : 'nav-link'" (click)="this.state='modif'">Modification de definition</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="back()"><i class="bi bi-arrow-return-left"></i> Back</a>
  </li>
</ul>
<div *ngIf="state=='plan'">
  <app-viewer></app-viewer>
  <app-actions-plan></app-actions-plan>
</div>
<app-modeler *ngIf="state=='modif'"></app-modeler>
<app-optimize-preview *ngIf="state=='preview'"></app-optimize-preview>
