nav {
  z-index: 2;
}
.mainContent {
  height: calc(100vh - 40px);
  position: absolute;
  top:40px;
  width:100vw;
  overflow: hidden;
}

app-actions-plan {
  position: absolute;
  width:100vW;
  z-index:1;
  overflow-y: auto;
  background:white;
  z-index:1;
}
