<div class="row">
  <div class="col-8">
    <div class="input-group mb-3 ">
      <span class="input-group-text">Element Id</span>
      <input type="text" class="form-control" value="{{step.elementId}}" readonly disabled>

      <button class="btn btn-danger" (click)="execPlanService.deleteCurrentStep()"><i class="bi bi-trash"></i></button>
    </div>
  </div>
  <div class="col-4">
    <div class="input-group mb-3 ">
      <span class="input-group-text">Action</span>
      <select class="form-select" [(ngModel)]="step.action">
        <option selected>Choose...</option>
        <option value="COMPLETE">COMPLETE</option>
        <option value="DO_NOTHING">DO_NOTHING</option>
        <option value="INCIDENT">INCIDENT</option>
      </select>
    </div>
  </div>
</div>
@if (step.action=='COMPLETE' || step.action=='INCIDENT') {
	<div class="row">
	  <div class="col">
		<div class="input-group mb-3 ">
		  <span class="input-group-text">Completion time ({{execPlanService.executionPlan!.durationsType}})</span>
		  <button class="btn btn-outline-primary" (click)="openDurationModal()"><i class="bi bi-pencil"></i> Avg from {{step.duration.startDesiredAvg}} to {{step.duration.endDesiredAvg}} (variation {{step.duration.minMaxPercent}}%). Progression {{step.duration.avgProgression}}</button>
		</div>
	  </div>
	</div>
	@if (step.action=='COMPLETE') {
	<div class="row">
	  <app-json-editor label="JSON template" classnames="mb-3" [(template)]="this.step.jsonTemplate"></app-json-editor>
	</div>
	} @else {
	<div class="row">
	  <div class="input-group mb-3 ">
		<span class="input-group-text">Incident</span>
		<select class="form-select" [(ngModel)]="step.incident">
		  <option selected>Choose...</option>
		  <option value="NULLPOINTER">NULLPOINTER</option>
		  <option value="ARITHMETIC">ARITHMETIC</option>
		  <option value="OUT_OF_BOUND">OUT_OF_BOUND</option>
		  <option value="OUT_OF_BOUND">ILLEGAL_ARGUMENT</option>
		  <option value="OUT_OF_BOUND">TIME_OUT</option>
		</select>
	  </div>
	</div>
	}
}
<div class="row">
  <div class="col-6">
    <h4>
      Pre-steps <button type="button" class="btn btn-outline-primary btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Steps time will be calculated based on the main task creation time">?</button>
      <button type="button" class="btn btn-outline-warning btn-icon" (click)="addPreStep()">+</button>
    </h4>
    <ul>
      <li *ngFor="let prestep of step.preSteps; let i=index">
        <div class="btn-group">
          <button class="btn btn-outline-primary" (click)="openPreStepModal(i)"><i class="bi bi-pencil"></i> {{displayAdditionalStep(prestep)}}</button>
          <button class="btn btn-danger" (click)="deletePreStep(i)"><i class="bi bi-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-6" *ngIf="step.action=='COMPLETE'">
    <h4>
      Post-steps <button type="button" class="btn btn-outline-primary btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Steps time will be calculated based on the main task completion time">?</button>
      <button type="button" class="btn btn-outline-warning btn-icon" (click)="addPostStep()">+</button>
    </h4>
    <ul>
      <li *ngFor="let postep of step.postSteps; let i=index">
        <div class="btn-group">
          <button class="btn btn-outline-primary" (click)="openPostStepModal(i)"><i class="bi bi-pencil"></i> {{displayAdditionalStep(postep)}}</button>
          <button class="btn btn-danger" (click)="deletePostStep(i)"><i class="bi bi-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>

</div>

@if(step.action=='COMPLETE' || step.action=='INCIDENT') {
<div class="modal fade" id="{{step.elementId}}-durationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Duration</h5>
        <button type="button" class="btn-close" (click)="closeDurationModal()"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3 ">
          <span class="input-group-text">Duration avg at start ({{execPlanService.executionPlan!.durationsType}})</span>
		  @if(execPlanService.executionPlan!.durationsType!='FEEL') {
          <input type="number" class="form-control" min=0 [(ngModel)]="step.duration.startDesiredAvg">
		  } @else {
          <input type="text" class="form-control" [(ngModel)]="step.duration.startDesiredAvg">
		  }
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Duration avg at end ({{execPlanService.executionPlan!.durationsType}})</span>
		  @if(execPlanService.executionPlan!.durationsType!='FEEL') {
          <input type="number" class="form-control" min=0 [(ngModel)]="step.duration.endDesiredAvg">
		  } @else {
          <input type="text" class="form-control" [(ngModel)]="step.duration.endDesiredAvg">
		  }
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Percentage variations</span>
          <input type="number" class="form-control" min=0 max=100 [(ngModel)]="step.duration.minMaxPercent">
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Progression</span>
          <select class="form-select" [(ngModel)]="step.duration.avgProgression">
            <option selected>Choose...</option>
            <option value="LINEAR">LINEAR</option>
            <option value="LINEAR_SALTED">LINEAR_SALTED</option>
          </select>
        </div>
		@if (step.duration.avgProgression=='LINEAR_SALTED') {
        <div class="input-group mb-3">
          <span class="input-group-text">progression salt (MS)</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="step.duration.progressionSalt">
        </div>
		}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDurationModal()">Close</button>
      </div>
    </div>
  </div>
</div>
}

<div class="modal fade" id="{{step.elementId}}-prestep" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	  @if (prestep) {
      <div class="modal-header">
        <h5 class="modal-title">Pre step  (executed {{prestep.delay}}({{execPlanService.executionPlan!.durationsType}}) after creation time)</h5>
        <button type="button" class="btn-close" (click)="closePreStepModal()"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3 ">
          <span class="input-group-text">Type</span>
          <select class="form-select" [(ngModel)]="prestep.type">
            <option selected>Choose...</option>
            <option value="CLOCK">CLOCK</option>
            <option value="MSG">MSG</option>
            <option value="SIGNAL">SIGNAL</option>
            <option value="BPMN_ERROR">BPMN_ERROR</option>
          </select>
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Delay ({{execPlanService.executionPlan!.durationsType}})</span>
		  @if(execPlanService.executionPlan!.durationsType!='FEEL') {
          <input type="number" class="form-control" min=0 [(ngModel)]="prestep.delay">
		  } @else {
          <input type="text" class="form-control" [(ngModel)]="prestep.delay">
		  }
        </div>
		@if(prestep.type=='MSG') {
        <div class="input-group mb-3 ">
          <span class="input-group-text">Message</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.msg">
        </div>
		
        <div class="input-group mb-3 ">
          <span class="input-group-text">Correlation Key</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.correlationKey">
        </div>
		} @else if(prestep.type=='SIGNAL') {
        <div class="input-group mb-3 ">
          <span class="input-group-text">Signal</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.signal">
        </div>
		} @else if(prestep.type=='BPMN_ERROR') {
        <div class="input-group mb-3 ">
          <span class="input-group-text">Error Code</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.errorCode">
        </div>
		} 
		@if(prestep.type!='CLOCK') {
        <app-json-editor label="JSON template" classnames="mb-3" [(template)]="prestep.jsonTemplate"></app-json-editor>
		}
      </div>
	  }
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePreStepModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="{{step.elementId}}-poststep" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	@if (poststep) {
      <div class="modal-header">
        <h5 class="modal-title">Post step (executed {{poststep.delay}} ({{execPlanService.executionPlan!.durationsType}}) after completion time)</h5>
        <button type="button" class="btn-close" (click)="closePostStepModal()"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3 ">
          <span class="input-group-text">Type</span>
          <select class="form-select" [(ngModel)]="poststep.type">
            <option selected>Choose...</option>
            <option value="CLOCK">CLOCK</option>
            <option value="MSG">MSG</option>
            <option value="SIGNAL">SIGNAL</option>
            <option value="BPMN_ERROR">BPMN_ERROR</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Delay ({{execPlanService.executionPlan!.durationsType}})</span>
		  @if(execPlanService.executionPlan!.durationsType!='FEEL') {
          <input type="number" class="form-control" min=0 [(ngModel)]="poststep.delay" *ngIf="execPlanService.executionPlan!.durationsType!='FEEL'">
		  } @else {
          <input type="text" class="form-control" [(ngModel)]="poststep.delay" *ngIf="execPlanService.executionPlan!.durationsType==='FEEL'">
		  }
        </div>
		@if(poststep.type=='MSG') {
        <div class="input-group mb-3 ">
          <span class="input-group-text">Message</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.msg">
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Correlation Key</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.correlationKey">
        </div>
		} @else if(poststep.type=='SIGNAL') {
        <div class="input-group mb-3 ">
          <span class="input-group-text">Signal</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.signal">
        </div>
		} @else if(poststep.type=='BPMN_ERROR') {
        <div class="input-group mb-3 " *ngIf="poststep.type=='BPMN_ERROR'">
          <span class="input-group-text">Error Code</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.errorCode">
        </div>
		}
		@if(poststep.type!='CLOCK') {
        <app-json-editor label="JSON template" classnames="mb-3" [(template)]="poststep.jsonTemplate"></app-json-editor>
		}
      </div>
	  }
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePostStepModal()">Close</button>
      </div>
    </div>
  </div>
</div>
