
<div #viewer></div>
<div class="mt-3 bottom">
  <button class="btn btn-outline-primary m-1" *ngFor="let dep of xmlDeps; let i=index" (click)="openDef(dep)">{{dep}}</button>
  <button class="btn btn-primary" (click)="toggleAddDep()"><i class="bi bi-plus"></i></button>
</div>
<div class="modal fade" id="newstep" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Prepare step</h5>
        <button type="button" class="btn-close" (click)="closenewstepModal()"></button>
      </div>
      <div class="modal-body" *ngIf="selectedElt && selectedElt.type!=='bpmn:IntermediateCatchEvent' &&  selectedElt.type!=='bpmn:BoundaryEvent'">
        Do you want to add a step for {{selectedElt.id}} into the current scenario ?
      </div>
      <div class="modal-body" *ngIf="selectedElt && selectedElt.type=='bpmn:IntermediateCatchEvent'">
        To manage Intermediate catch event, you should add a Post Step activity in the previous task. Please select the activity that will "host" this post step :
        <div class="input-group mb-3">
          <span class="input-group-text">Hosting activity</span>
          <select class="form-select" [(ngModel)]="intermediateCatchEventSource">
            <option *ngFor="let source of origins; let i=index" value={{source.id}}>{{source.name}} ({{source.id}})</option>
          </select>
        </div>
      </div>
      <div class="modal-body" *ngIf="selectedElt && selectedElt.type=='bpmn:BoundaryEvent'">
        To manage a boundary event, you should add a Pre Step activity in the parent task. Do you want to create that Pre Step ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="createStep()" *ngIf="selectedElt"><i class="bi bi-plus-circle"></i> Create</button>
        <button type="button" class="btn btn-secondary" (click)="closenewstepModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-xl" id="addDepModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new BPMN dependency (call activity)</h5>
        <button type="button" class="btn-close" (click)="toggleAddDep()"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-1">
          <span class="input-group-text">BPMN file</span>
          <input type="file" class="form-control" min="0" max="100" (change)="loadBpmnFile($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addDep()" [disabled]="!newDepXml">Create</button>
        <button type="button" class="btn btn-secondary" (click)="toggleAddDep()">Close</button>
      </div>
    </div>
  </div>
</div>
