nav {
  z-index: 2;
}
.mainContent {
  height: calc(100vh - 56px);
  position: absolute;
  top:56px;
  width:100vw;
  overflow: hidden;
}

app-actions-plan {
  position: absolute;
  width: 100vW;
  height: calc(100vh - 445px);
  background: white;
}

app-viewer {
  position:relative;
}
