<ul class="nav nav-tabs">
  <li class="nav-item">
    <a [ngClass]="state=='general' ? 'nav-link active' : 'nav-link'" (click)="this.state='general'">Instanciations</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="state=='activities' ? 'nav-link active' : 'nav-link'" (click)="this.state='activities'">Activities</a>
  </li>
  <li class="nav-item">
    <a [ngClass]="state=='incidents' ? 'nav-link active' : 'nav-link'" (click)="this.state='incidents'">Incidents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="save()"><i class="bi bi-floppy"></i> Save</a>
  </li>
</ul>
<div *ngIf="state=='general'" class="tab-pane">

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Number of days</span>
    <input type="number" class="form-control" placeholder="number of days" [ngModel]="processService.executionPlan!.instantiationsPlan.daysDuration">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Number of instances first day</span>
    <input type="text" class="form-control" placeholder="Number of instances first day" [ngModel]="processService.executionPlan!.instantiationsPlan.instancesFirstDay">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Number of instances last day</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="evolution">Evolution</label>
    <select class="form-select" id="evolution">
      <option selected>Choose...</option>
      <option value="linear">Linear</option>
      <option value="chainsaw">Chainsaw</option>
    </select>
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">From</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">10%</a></li>
      <li><a class="dropdown-item" href="#">20%</a></li>
      <li><a class="dropdown-item" href="#">30%</a></li>
      <li><a class="dropdown-item" href="#">40%</a></li>
      <li><a class="dropdown-item" href="#">50%</a></li>
      <li><a class="dropdown-item" href="#">60%</a></li>
    </ul>
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">To</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
</div>
<div *ngIf="state=='activities'" class="tab-pane">
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" role="tablist" >
      <button *ngFor="let activity of execPlanService.activities" id="v-pills-{{activity.id}}-tab" [ngClass]="execPlanService.currentActivity == activity.id ? 'nav-link active' : 'nav-link'" data-bs-toggle="pill" [attr.data-bs-target]="'#v-pills-'+activity.id" type="button" role="tab" [attr.aria-controls]="'v-pills-'+activity.id" aria-selected="true" (click)="execPlanService.selectActivity(activity.id)">{{activity.id}}</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div *ngFor="let activity of execPlanService.activities" id="v-pills-{{activity.id}}" [ngClass]="execPlanService.currentActivity == activity.id ? 'tab-pane fade show active' : 'tab-pane fade'" role="tabpanel" [attr.aria-labelledby]="'v-pills-'+activity.id+'-tab'">{{activity.id}}</div>
    </div>
  </div>
</div>
<div *ngIf="state=='incidents'" class="tab-pane">incidents</div>
