.main {
  display: flex;
  flex: 1 1 0%;
  overflow-x: hidden;
}
.modeler
{
  display: flex;
  flex: 1 1 0%;
  position: relative;
  background-color: white;
  outline: none;
}

.properties-panel {
  width: 400px;
  max-height: calc(-48px + 100vh);
  position: relative;
  margin-top: -1px;
}
