<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand"><i class="bi bi-house"></i> Camunda 8 Data $1^^u|_@70®</span>
  </div>
</nav>
<div class="container-fluid row">
  <div class="col-6 p-2">
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title">Available plans</h5>
        <table class=" table table-striped table-hover">
          <thead class="table-dark ">
            <tr>
              <th scope="col">BPMN Process Id</th>
              <th scope="col">Version</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let definition of definitions">
              <td>
                {{definition.bpmnProcessId}}
              </td>
              <td>
                {{definition.version}}
              </td>
              <td>
                <button (click)="openPlan(definition)" class="btn btn-dark mx-1"><i class="bi bi-pen"></i> Prepare</button>
                <button (click)="executePlan(definition)" class="btn btn-dark mx-1"><i class="bi bi-send"></i> Execute</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6 p-2">
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title">Executions</h5>
        <div *ngFor="let exec of executions" class="card-text">
          {{exec.date}}, {{exec.definition.name}} (version {{exec.definition.version}}). Progress : {{exec.progress}}%
          <button (click)="openHisto(exec.key)" class="btn btn-dark mx-1"><i class="bi bi-hourglass-split"></i> histo</button>
        </div>
      </div>
    </div>
    </div>
  </div>

<div class="modal fade modal-xl" id="planHisto" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Histo</h5>
        <button type="button" class="btn-close" (click)="closeHistoModal()"></button>
      </div>
      <div class="modal-body">
        <table class=" table table-striped table-hover">
          <thead class="table-dark ">
            <tr>
              <th scope="col">Log</th>
              <th scope="col">Engine date</th>
              <th scope="col">Real date</th>
            </tr>
          </thead>
          <thead class="table-secondary ">
            <tr>
              <th scope="col">
                <div class="input-group mb-1">
                  <span class="input-group-text"><i class="bi bi-funnel"></i></span>
                  <input type="text" class="form-control" [(ngModel)]="filter.log" (ngModelChange)="search()">
                </div>
              </th>
              <th scope="col">
                <div class="dropdown mb-1">
                  <button id="engineDateBtn" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel"></i> | {{filter.engineDate.fromTxt}} to {{filter.engineDate.toTxt}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="engineDateBtn">
                    <div class="input-group mb-3">
                      <span class="input-group-text">From</span>
                      <input type="datetime-local" class="form-control" [(ngModel)]="filter.engineDate.from" (ngModelChange)="changeFilterDate()">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">To</span>
                      <input type="datetime-local" class="form-control" [(ngModel)]="filter.engineDate.to" (ngModelChange)="changeFilterDate()">
                    </div>
                  </ul>
                </div>
              </th>
              <th scope="col">
                <div class="dropdown mb-1">
                  <button id="engineDateBtn" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel"></i> | {{filter.realDate.fromTxt}} to {{filter.realDate.toTxt}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="engineDateBtn">
                    <div class="input-group mb-3">
                      <span class="input-group-text">From</span>
                      <input type="datetime-local" class="form-control" [(ngModel)]="filter.realDate.from" (ngModelChange)="changeFilterDate()">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">To</span>
                      <input type="datetime-local" class="form-control" [(ngModel)]="filter.realDate.to" (ngModelChange)="changeFilterDate()">
                    </div>
                  </ul>
                </div>
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let line of histo.items">
              <td> {{line.log}} </td>
              <td> {{line.engineDate}} </td>
              <td> {{line.realDate}} </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-4">
            <div class="input-group mb-1">
              <span class="input-group-text">Page size</span>
              <input type="number" class="form-control" [(ngModel)]="filter.size" min="0" max="100" (ngModelChange)="search()">
            </div>
          </div>
          <div class="col-4 text-center">
            <button class="btn btn-outline-primary" (click)="nextPage()">>> Next</button>
          </div>
          <div class="col-4">
            <div class="input-group mb-1">
              <span class="input-group-text">Total logs</span>
              <input class="form-control" value="{{histo.total}}" readonly/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeHistoModal()">Close</button>
      </div>
    </div>
  </div>
</div>
