<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand"><i class="bi bi-house"></i> Camunda 8 Data Simulator</span>
  </div>
</nav>
<div class="container-fluid row">
  <div class="col-6 p-2">
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title">Available plans <button class="btn btn-primary mx-1" (click)="toggleCreatePlan()"><i class="bi bi-plus"></i></button></h5>
        <table class=" table table-striped table-hover">
          <thead class="table-dark ">
            <tr>
              <th scope="col">BPMN Process Id</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let definition of plans">
              <td>{{definition.bpmnProcessId}}</td>
              <td>
                <button (click)="openPlan(definition)" class="btn btn-dark mx-1"><i class="bi bi-pen"></i> Edit</button>
                <button (click)="executePlan(definition)" class="btn btn-dark mx-1" [disabled]="runningPlan"><i class="bi bi-send"></i> Execute 
				@if (runningPlan && runningPlan.definition.bpmnProcessId==definition.bpmnProcessId && runningPlan.definition.version==definition.version) {<i>(running)</i>}</button>
                <button (click)="delete(definition)" class="btn btn-danger mx-1"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6 p-2">
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title">Executions</h5>
        <div *ngFor="let exec of executions" class="card-text">
          {{exec.bpmnProcessId}} progressed at {{exec.currentDate}}{{exec.running ? '(running)' : ''}}. Created {{exec.instancesCreated}} and completed {{exec.instancesCompleted}}.
		  @if (exec.running) {
          <button (click)="stopExecution()" class="btn btn-dark mx-1"><i class="bi bi-sign-stop"></i> Stop</button>
		  }
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid row">
  <div class="col-6 p-2">
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title">Available datasets <button class="btn btn-primary" (click)="addDataset()">+</button></h5>
        <table class=" table table-striped table-hover">
          <tbody>
            <tr *ngFor="let dataset of datasets;">
              <td>
                {{dataset}}
              </td>
              <td>
                <button (click)="editDataset(dataset)" class="btn btn-dark mx-1"><i class="bi bi-pen"></i></button>
                <button (click)="deleteDataset(dataset)" class="btn btn-danger mx-1" [disabled]="runningPlan"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-6 p-2">
    <div class="card">
      <div class="card-body ">
        <h5 class="card-title">Available JSON datasets <button class="btn btn-primary" (click)="addJsonDataset()">+</button></h5>
        <table class=" table table-striped table-hover">
          <tbody>
            <tr *ngFor="let dataset of jsondatasets;">
              <td>
                {{dataset}}
              </td>
              <td>
                <button (click)="editJsonDataset(dataset)" class="btn btn-dark mx-1"><i class="bi bi-pen"></i></button>
                <button (click)="deleteJsonDataset(dataset)" class="btn btn-danger mx-1" [disabled]="runningPlan"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-xl" id="createPlanModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create plan from BPMN file</h5>
        <button type="button" class="btn-close" (click)="toggleCreatePlan()"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-1">
          <span class="input-group-text">BPMN file</span>
          <input type="file" class="form-control" min="0" max="100" (change)="loadBpmnFile($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="createNewPlan()" [disabled]="!newPlanXml">Create</button>
        <button type="button" class="btn btn-secondary" (click)="toggleCreatePlan()">Close</button>
      </div>
    </div>
  </div>
</div>
