<div class="row">
  <div class="col-8">
    <div class="input-group mb-3 ">
      <span class="input-group-text">Element Id</span>
      <input type="text" class="form-control" value="{{step.elementId}}" readonly disabled>

      <button class="btn btn-danger" (click)="execPlanService.deleteCurrentStep()"><i class="bi bi-trash"></i></button>
    </div>
  </div>
  <div class="col-4">
    <div class="input-group mb-3 ">
      <span class="input-group-text">Action</span>
      <select class="form-select" [(ngModel)]="step.action">
        <option selected>Choose...</option>
        <option value="COMPLETE">COMPLETE</option>
        <option value="DO_NOTHING">DO_NOTHING</option>
        <option value="INCIDENT">INCIDENT</option>
      </select>
    </div>
  </div>
</div>
<div class="row" *ngIf="step.action=='COMPLETE' || step.action=='INCIDENT'">
  <div class="col">
    <div class="input-group mb-3 ">
      <span class="input-group-text">Completion time</span>
      <button class="btn btn-outline-primary" (click)="openDurationModal()"><i class="bi bi-pencil"></i> Avg from {{step.duration.startDesiredAvg}} to {{step.duration.startDesiredAvg}}ms (variation {{step.duration.minMaxPercent}}%). Progression {{step.duration.avgProgression}}</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="step.action=='COMPLETE'">
  <div class="input-group mb-3">
    <span class="input-group-text">JSON Template</span>
    <div class="form-control" #jsonTemplate></div>
  </div>
</div>
<div class="row" *ngIf="step.action=='INCIDENT'">
  <div class="input-group mb-3 ">
    <span class="input-group-text">Incident</span>
    <select class="form-select" [(ngModel)]="step.incident">
      <option selected>Choose...</option>
      <option value="NULLPOINTER">NULLPOINTER</option>
      <option value="ARITHMETIC">ARITHMETIC</option>
      <option value="OUT_OF_BOUND">OUT_OF_BOUND</option>
      <option value="OUT_OF_BOUND">ILLEGAL_ARGUMENT</option>
      <option value="OUT_OF_BOUND">TIME_OUT</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h4>
      Pre-steps <button type="button" class="btn btn-outline-primary btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Steps time will be calculated based on the main task creation time">?</button>
      <button type="button" class="btn btn-outline-warning btn-icon" (click)="addPreStep()">+</button>
    </h4>
    <ul>
      <li *ngFor="let prestep of step.preSteps; let i=index">
        <div class="btn-group">
          <button class="btn btn-outline-primary" (click)="openPreStepModal(i)"><i class="bi bi-pencil"></i> {{displayAdditionalStep(prestep)}}</button>
          <button class="btn btn-danger" (click)="deletePreStep(i)"><i class="bi bi-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-6" *ngIf="step.action=='COMPLETE'">
    <h4>
      Post-steps <button type="button" class="btn btn-outline-primary btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Steps time will be calculated based on the main task completion time">?</button>
      <button type="button" class="btn btn-outline-warning btn-icon" (click)="addPostStep()">+</button>
    </h4>
    <ul>
      <li *ngFor="let postep of step.postSteps; let i=index">
        <div class="btn-group">
          <button class="btn btn-outline-primary" (click)="openPostStepModal(i)"><i class="bi bi-pencil"></i> {{displayAdditionalStep(postep)}}</button>
          <button class="btn btn-danger" (click)="deletePostStep(i)"><i class="bi bi-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>

</div>


<div class="modal fade" id="{{step.elementId}}-durationModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="step.action=='COMPLETE' || step.action=='INCIDENT'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Duration</h5>
        <button type="button" class="btn-close" (click)="closeDurationModal()"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3 ">
          <span class="input-group-text">Duration avg at start</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="step.duration.startDesiredAvg">
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Duration avg at end</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="step.duration.endDesiredAvg">
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Percentage variations</span>
          <input type="number" class="form-control" min=0 max=100 [(ngModel)]="step.duration.minMaxPercent">
        </div>
        <div class="input-group mb-3 ">
          <span class="input-group-text">Progression</span>
          <select class="form-select" [(ngModel)]="step.duration.avgProgression">
            <option selected>Choose...</option>
            <option value="LINEAR">LINEAR</option>
            <option value="LINEAR_SALTED">LINEAR_SALTED</option>
          </select>
        </div>
        <div class="input-group mb-3" *ngIf="step.duration.avgProgression=='LINEAR_SALTED'">
          <span class="input-group-text">progression salt</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="step.duration.progressionSalt">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDurationModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="{{step.elementId}}-prestep" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="prestep">Pre step  (executed {{prestep.delay}}ms after creation time)</h5>
        <button type="button" class="btn-close" (click)="closePreStepModal()"></button>
      </div>
      <div class="modal-body" *ngIf="prestep">
        <div class="input-group mb-3 ">
          <span class="input-group-text">Type</span>
          <select class="form-select" [(ngModel)]="prestep.type" (ngModelChange)="buildPreStepJsonEditor()">
            <option selected>Choose...</option>
            <option value="CLOCK">CLOCK</option>
            <option value="MSG">MSG</option>
            <option value="BPMN_ERROR">BPMN_ERROR</option>
          </select>
        </div>
        <div class="input-group mb-3 " *ngIf="prestep.type=='CLOCK'">
          <span class="input-group-text">Delay (FEEL)</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.feelDelay">
        </div>
        <div class="input-group mb-3 " *ngIf="prestep.type=='MSG'">
          <span class="input-group-text">Delay (ms)</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="prestep.msgDelay">
        </div>
        <div class="input-group mb-3 " *ngIf="prestep.type=='MSG'">
          <span class="input-group-text">Message</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.msg">
        </div>
        <div class="input-group mb-3 " *ngIf="prestep.type=='MSG'">
          <span class="input-group-text">Correlation Key</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.correlationKey">
        </div>
        <div class="input-group mb-3 " *ngIf="prestep.type=='BPMN_ERROR'">
          <span class="input-group-text">Delay (ms)</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="prestep.errorDelay">
        </div>
        <div class="input-group mb-3 " *ngIf="prestep.type=='BPMN_ERROR'">
          <span class="input-group-text">Error Code</span>
          <input type="text" class="form-control" [(ngModel)]="prestep.errorCode">
        </div>
        <div class="input-group mb-3" [ngClass]="prestep.type=='MSG' || prestep.type=='BPMN_ERROR' ? '' : 'hidden'">
          <span class="input-group-text">JSON Template</span>
          <div class="form-control" id="preStepJsonTemplate"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePreStepModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="{{step.elementId}}-poststep" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="poststep">Post step (executed {{poststep.delay}}ms after completion time)</h5>
        <button type="button" class="btn-close" (click)="closePostStepModal()"></button>
      </div>
      <div class="modal-body" *ngIf="poststep">
        <div class="input-group mb-3 ">
          <span class="input-group-text">Type</span>
          <select class="form-select" [(ngModel)]="poststep.type" (ngModelChange)="buildPostStepJsonEditor()">
            <option selected>Choose...</option>
            <option value="CLOCK">CLOCK</option>
            <option value="MSG">MSG</option>
            <option value="BPMN_ERROR">BPMN_ERROR</option>
          </select>
        </div>
        <div class="input-group mb-3 " *ngIf="poststep.type=='CLOCK'">
          <span class="input-group-text">Delay (FEEL)</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.feelDelay">
        </div>
        <div class="input-group mb-3 " *ngIf="poststep.type=='MSG'">
          <span class="input-group-text">Delay (ms)</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="poststep.msgDelay">
        </div>
        <div class="input-group mb-3 " *ngIf="poststep.type=='MSG'">
          <span class="input-group-text">Message</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.msg">
        </div>
        <div class="input-group mb-3 " *ngIf="poststep.type=='MSG'">
          <span class="input-group-text">Correlation Key</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.correlationKey">
        </div>
        <div class="input-group mb-3 " *ngIf="poststep.type=='BPMN_ERROR'">
          <span class="input-group-text">Delay (ms)</span>
          <input type="number" class="form-control" min=0 [(ngModel)]="poststep.errorDelay">
        </div>
        <div class="input-group mb-3 " *ngIf="poststep.type=='BPMN_ERROR'">
          <span class="input-group-text">Error Code</span>
          <input type="text" class="form-control" [(ngModel)]="poststep.errorCode">
        </div>
        <div class="input-group mb-3" [ngClass]="poststep.type=='MSG' || poststep.type=='BPMN_ERROR' ? '' : 'hidden'">
          <span class="input-group-text">JSON Template</span>
          <div class="form-control" id="postStepJsonTemplate"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePostStepModal()">Close</button>
      </div>
    </div>
  </div>
</div>
