.nav-tabs .nav-link.active {
  box-shadow: 0px 0px 4px var(--bs-nav-link-color);
  position: relative;
}
.tab-pane {
  background: white;
  position: relative;
  padding: 20px;
}

.tab-content {
  width: 100%;
  padding: 0px 20px;
}
