
<div #viewer></div>
<div *ngIf="xmlDeps.length>1" class="mt-3 bottom">
  <button class="btn btn-outline-primary m-1" *ngFor="let dep of xmlDeps; let i=index" (click)="openDef(dep)">{{dep}}</button>
</div>
<div class="modal fade" id="newstep" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new step</h5>
        <button type="button" class="btn-close" (click)="closenewstepModal()"></button>
      </div>
      <div class="modal-body">
        Do you want to add a step for {{execPlanService.currentActivity}} into the current scenario ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="createStep()"><i class="bi bi-plus-circle"></i> Create</button>
        <button type="button" class="btn btn-secondary" (click)="closenewstepModal()">Close</button>
      </div>
    </div>
  </div>
</div>
